.addressbar{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-primary-var);
    font-size: .7rem;
}
.addressbar h2{
    padding: 1.5rem;
}

/* =====================MEDIA QUERIES (MEDIUM DEVICIES)================== */
@media screen and (max-width: 1024px){
    
}
/* =====================MEDIA QUERIES (SMALL DEVICIES)================== */
@media screen and (max-width: 650px){
    .addressbar h2{
        padding: .4rem;
    }
}