.navbar{
    height: 4rem;
    width: 100%;
    background: var(--color-primary-var);
    display: grid;
    grid-template-columns: 20% 10% 10% 10% 50%;
    box-shadow: var(--color-primary-var) 0px 10px 10px -10px;
}
.navbar__name h1{
    display: flex;
    margin-left: 1rem;
}
.navbar__home{
    margin-top: 2rem;
}
.navbar__contact{
    margin-top: 2rem;
}
.navbar__about{
    margin-top: 2rem;
}
#navbar__name--firstName{
    color: var(--color-secondary);
    font-size: 3rem;
}
#navbar__name--lastName{
    color: var(--color-primary);
    font-size: 1.5rem;
    margin-top: 1.5rem;
}
.navbar__registration{
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 1rem;
    position: relative;
    top: -.5rem;
}
.navbar__registration--button{
    height: 2rem;
    width: 4rem;
    
}