@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap');

*{
    margin: 0rem;
    padding: 0rem;
}
body,html{
    height: 100%;
    width: 100%;
    background: var(--color-light);
    font-family: 'Baloo Bhai 2', cursive;
}
:root{
    --color-primary: #2e00fc;
    --color-primary-var: #7569ad;
    --color-secondary: #a71210;
    --color-secondary-var: #d33835;
    --color-white: #fff;
    --color-light: rgb(217, 216, 216);
}
button{
    color: var(--color-light);
    background: var(--color-primary);
    padding: .4rem;
    border-radius: .4rem;
    border: none;
}
button:hover{
    cursor: pointer;
    opacity: 70%;
}
a,Link{
    text-decoration: none;
}

/* =====================MEDIA QUERIES (MEDIUM DEVICIES)================== */
@media screen and (max-width: 1024px){
    
  }
  /* =====================MEDIA QUERIES (SMALL DEVICIES)================== */
@media screen and (max-width: 650px){
    
  }